
 h1 {
    color: brown;
}

* {
    border: solid;
}

.header
{
    background-color:cadetblue;
    display:flex;
    justify-content: space-between;
    color:pink;
}
.grid
{
    background-color:cadetblue;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
} 
.footer
{
    display:flex;
    justify-content:flex-end;
}